*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* MEDIA QUERIES */
@media (min-width: 991px) {
    .bar{
        ul{
            margin-left: 100px;
        }
    }       
}


@media (max-width: 991px) {
    .imagen{
        margin-bottom: 50px;
    } 
    header{
        height: 56px;
    }
    .imagen2 {
        margin-bottom: 30px;
    }
    .cv{
        margin-bottom: 50px;
    }
}


/* NAVBAR */
header{
    position: relative;
    .barra {
        .bar{
            ul{
                li{
                    padding: 5px 30px;
                    a{
                        font-size: 20px;
                        font-weight: 700;
                        border-radius: 10px;
                    }
                    a:hover{
                        background-color: #0B9ABD;
                        color: #fff;
                        border-radius: 10px;
                        transition: all .7s;
                    }
                }
            }
        }
    }
}

/* HOME */
.Home{
    background-color: #BDBEC1;
    border-bottom: 2px solid #000;
    .home{
        margin: auto; 
        align-items: center;
        min-height: 100vh;
        .presentacion {
            padding-bottom: 50px;
            p{
                margin:10px 0 50px 0;
                font-size: 20px;
                padding: 0 40px;  
            }   
            h1{
                margin-bottom: 10px;
                font-size: 60px;
                font-weight: 700; 
            }   
            h3{
                font-size: 30px;
                margin-bottom: 50px;
            }
            .botones {
                .m-btn {
                    display: inline-block;
                    border: 2px solid transparent;
                    line-height: inherit;
                    width: auto;
                    padding: 10px 20px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    transition: ease-in-out all 0.55s;
                }
                .m-btn-theme{
                    background: #0B9ABD;
                    color: #000;
                    border-color: #045373;
                    font-weight: 900;
                }
                .m-btn-t-theme{
                    background: #fff;
                    color: #000;
                    border-color: #357E8E;
                    font-weight: 900;
                }
                .m-btn-t-theme:hover{
                    background-color: #0B9ABD;
                    color: #fff;
                    border-color: #045373;
                    transition: 1s;
                }
                .m-btn-theme:hover{
                    background: #000;
                    color: #fff;
                    border-color: #000;
                }
            }     
        }
    }
}

/* ABOUT ME */

.Aboutme{
    min-height: 100vh;
    border-bottom: 2px solid #000;
    .about{
        .titulo{
            padding-top: 60px;
            .title{
                padding: 18px;
                
                h3 {
                    font-size: 40px;
                    font-weight: 700;  
                }
                p{
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
    }
    .foto-listas{
        align-items: center;
        .imagen2 {
            img {
                border-radius: 20px;
            }
        }
        .info{
            padding: 0 4%;
            .inf-listas {
                padding-top: 30px;
                .media{
                    margin-bottom: 30px;
                    label{
                        padding-bottom: 5px;
                        border-bottom: 2px solid #045373;
                        width: 150px;
                    }
                    p{
                        padding-top: 5px;
                    }
                }
            }
            .cv {
                a{
                    border: 3px solid #045373;
                    font-weight: 800;
                    border-radius: 50px;
                    padding: 10px;
                    color: #fff;
                    background-color: #0B9ABD;
                }
                a:hover{
                    border: 3px solid #045373;
                    border-radius: 50px;
                    padding: 10px;
                    background-color: #fff;
                    color: #000;
                    transition: 1s;
                }
            }
        }
    }
}

/* SKILLS */
.Skills {
    background-color: #BDBEC1;
    min-height: 100vh;
    border-bottom: #000 2px solid;
    .title-skills{
        padding-top: 70px;
        margin-bottom: 50px;
        h3{
            font-size: 40px;
            font-weight: 700;
        }
        p{
            font-size: 17px;
            font-weight: 500;
        }
    }
    .lenguajes {
        padding-top: 3%;
        margin: auto;
        align-items: center;
        .skill-It {
            .skill-bar {
                position: relative;
                background: #fff;
                margin-bottom: 30px;
                .skill-bar-in {
                    transition: ease all 0.55s;
                    height: 10px;
                    position: relative;
                    background-color: #0B9ABD;
                    span {
                        position: absolute;
                        right: 0;
                        top: -30px;
                        font-size: 14px;
                    }
                }
            }
        }  
        .iconos {
            img{
                width: 130px;
                height: 130px;
                margin: 20px;
            }
            .css{
                width: 110px;
                height: 130px;
            }
        } 
    }
}

/* PROJECTS */
.proyects{
    min-height: 100vh;
    padding: 78px 0;
    border-bottom: #000 2px solid;
    h3{
        font-size: 40px;
        font-weight: 700;
    }
}

.container-proyects{
    padding-top: 100px;
    .card{
        width: 400px;
        height: 250px;
        margin: 20px auto;
        box-shadow: 5px 5px 20px black;
        align-items: center;
        img{
            width: 380px;
            height: 200px;
            border-radius: 3px;
            transition: .5s;
        }
        .intro{
            height: 40px;
            width: 95%;
            box-sizing: border-box;
            position: absolute;
            background-color: rgb(27, 27, 27, .5);
            color: #000000;
            transition: .5s;
            h1{
                font-size: 30px;
                margin-left: 10px;
            }
            p{
                font-size: 20px;
                margin: 20px;
                visibility: hidden;
                opacity: 0;
            }
        }
    }
    .card:hover{
        cursor: pointer;
    }
    .card:hover .intro{
        height: 150px;
        bottom: 20px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .card:hover p {
        opacity: 1;
        visibility: visible;
        font-weight: 900;
    }
    .card:hover img{
        transform: scale(1.05) rotate(-2deg);
    }
}
/* CONTACT */

.Contact{
    background-color: #BDBEC1;
    min-height: 78vh;
    padding-top: 78px;
    .contact {
        .titulo2{
            h3{
                font-size: 40px;
                font-weight: 700;
            }
        }
        .formYdatos{
            align-items: center;
            padding: 4% 0 0 0;
            .container-form{
                .contact-form{
                    border: #045373 solid 3px;
                    padding: 20px 70px;
                    h4{
                        margin-bottom: 50px;
                    }
                    .formulario{
                        .form-group{
                            input{
                                height: 60px;
                                margin-bottom: 50px;
                            }
                            textarea{
                                max-height: 150px;
                            }
                        }
                        .boton{
                            margin-top: 20px;
                            button{
                                padding: 10px;
                                border-radius: 50px;
                                border: 2px solid #0B9ABD;
                                font-size: 18px;
                                font-weight: 700;
                                color: #000;
                            }
                            button:hover{
                                padding: 10px;
                                border-radius: 50px;
                                border: 2px solid #0B9ABD;
                                font-size: 18px;
                                font-weight: 700;
                                background-color: #045373;
                                color: #FFF;
                                transition: 1s all;
                            }
                        }
                    }
                }
            }    
            .datos{
                .contact-info{
                    margin: 65px 0;
                    h6{
                        border-bottom: #0B9ABD solid 4px;
                        padding-bottom: 17px;
                    }
                }
            }
        }
    }
}

/* FOOTER */
